
.height
{
    height: 2em;
}
.height3em
{
    height: 3em;
}
.height4em
{
    height: 4em;
}
.height5em
{
    height: 5em;
}
.height6em
{
    height: 6em;
}
.height7em
{
    height: 7em;
}
.height8em
{
    height: 8em;
}
.height9em
{
    height: 9em;
}
.height10em
{
    height: 10em;
}




.width2em
{
    width: 2em;
}
.width3em
{
    width: 3em;
}
.width4em
{
    width: 4em;
}
.width5em
{
    width: 5em;
}
.width6em
{
    width: 6em;
}
.width7em
{
    width: 7em;
}
.width8em
{
    width: 8em;
}
.width9em
{
    width: 9em;
}
.width10em
{
    width: 10em;
}


.curbado10{
    border-radius: 10%;
}
.curbado20{
    border-radius: 20%;
}
.curbado30{
    border-radius: 30%;
}
.curbado40{
    border-radius: 40%;
}
.curbado50{
    border-radius: 50%;
}
.curbado60{
    border-radius: 60%;
}
.curbado70{
    border-radius: 70%;
}
.curbado80{
    border-radius: 80%;
}
.curbado90{
    border-radius: 90%;
}
.curbado100{
    border-radius: 100%;
}



.flag, .animarSeleccionado{
    -webkit-transition:all 1s ease;
    -moz-transition:all 1s ease;
    -o-transition:all 1s ease;
}

.animarSeleccionado:hover
{
    height: 7em;
    width: 7em;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.534);
}
.flag:hover{
    height: 6em;
    width: 6em;
    border-radius: 30%;
    background-color: rgba(255, 255, 255, 0.534);
    
}

