<ion-content text-center class="background-image">

  <!-- <app-objeto-animado pathImagen="../../assets/images/usuario.png" clase="width6em height6em"
    pathAudio="../../assets/audios/Caballobr.wav"></app-objeto-animado> -->
  <ion-grid>
    <ion-row>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-center>
        <ion-card-content>
          <ion-card-title>
            <div class="centrado">
              <div *ngFor="let usuario of listaUsuarios" class="divPerfil">
                <img class="imagenUsuario" (click)=rellenarCampos(usuario) [src]="elegirFoto(usuario)" alt="">
              </div>
            </div>
          </ion-card-title>
        </ion-card-content>
      </ion-col>
    </ion-row>
    <ion-card-content class="card-content">
      <ion-row>
        <div class="centrado">
          <h1>Ingresar</h1>
        </div>
        <ion-col size="12">
          <ion-input type="email" [(ngModel)]="user.email" class="customInput" placeholder="Correo"
            value="{{usuarioActual.email}}">
            <ion-icon class="iconos" name="contact"></ion-icon>
          </ion-input>
        </ion-col>
        <ion-col size="12">
          <ion-input type="password" [(ngModel)]="user.password" class="customInput" placeholder="Clave"
            value="{{usuarioActual.password}}">
            <ion-icon class="iconos" name="key"></ion-icon>
          </ion-input>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <ion-row>

      <ion-col size="8" offset="2">
        <ion-button expand="block" id="btn-Login" (click)="OnLogin()">Ingresar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>