<ion-content>
  <div id="selectorTemas">
    <img id="tema" src="../../assets/images/temas.PNG" class="flag" (click)="toggleTemas()">
    <div *ngIf="temas">
      <img src="../../assets/images/background-colors.jpg" id="colores" class="imagen-Icon flag " routerLink="/colores">
      <img src="../../assets/images/background-animals.jpg" id="animales" class="imagen-Icon flag" routerLink="/animales">
    </div>
  </div>
  <div id="divLenguajes">
    <img id="lenguajes" src="../../assets/images/banderas.png" class="flag" (click)="toggleLenguajes()">
    <div *ngIf="lenguajes">
      <img src="../../assets/images/flageu.png" class="imagen-Icon flag" id="flagEu" (click)="seleccionarIdiomaIngles()"
        alt="bandera Estados Unidos">
      <img src="../../assets/images/flagbr.png" class="imagen-Icon flag" id="flagBr"
        (click)="seleccionarIdiomaPortugues(this)" alt="bandera Brazil">
      <img src="../../assets/images/flauarg.png" class="imagen-Icon flag flag-active" id="flagArg" 
        (click)="seleccionarIdiomaLatino()" alt="bandera Argentina">
    </div>
  </div>
  <ion-grid>
    <!-- <img src="../../assets/images/backbutton.ico" class="imagen-Icon" routerLink="/seleccion-de-juego"> -->
    <div class="centrado" id="header">
      <ion-row>
        <!-- <div id="divTemas">
          <img src="../../assets/images/  .png" class="imagen-Icon flag" id="flagEu"
            (click)="seleccionarIdiomaIngles()" alt="bandera Estados Unidos">
          <img src="../../assets/images/flagbr.png" class="imagen-Icon flag" id="flagBr"
            (click)="seleccionarIdiomaPortugues(this)" alt="bandera Brazil">
          <img src="../../assets/images/flauarg.png" class="imagen-Icon flag" id="flagArg"
            (click)="seleccionarIdiomaLatino()" alt="bandera Argentina">
        </div> -->
      </ion-row>
    </div>
    <ion-row class="centrado">
      <ion-col size="6" size-sm="2" *ngFor="let numero of numeros">
        <app-objeto-animado pathImagen="../../assets/images/numeros/{{numero}}.png"
          clase="width6em height6em animarSeleccionado"
          pathAudio="../../assets/audios/numeros/{{numero}}{{idiomaSeleccionado}}.wav"></app-objeto-animado>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>