<ion-content>
  <div id="selectorTemas">
    <img id="tema" src="../../assets/images/temas.PNG" class="flag" (click)="toggleTemas()">
    <div *ngIf="temas">
      <img src="../../assets/images/background-colors.jpg" id="colores" class="imagen-Icon flag " routerLink="/colores">
      <img src="../../assets/images/background-numbers.jpg" id="animales" class="imagen-Icon flag" routerLink="/numeros">
    </div>
  </div>
  <div id="divLenguajes">
    <img id="lenguajes" src="../../assets/images/banderas.png" class="flag" (click)="toggleLenguajes()">
    <div *ngIf="lenguajes">
      <img src="../../assets/images/flageu.png" class="imagen-Icon flag" id="flagEu" (click)="seleccionarIdiomaIngles()"
        alt="bandera Estados Unidos">
      <img src="../../assets/images/flagbr.png" class="imagen-Icon flag" id="flagBr"
        (click)="seleccionarIdiomaPortugues(this)" alt="bandera Brazil">
      <img src="../../assets/images/flauarg.png" class="imagen-Icon flag flag-active" id="flagArg"
        (click)="seleccionarIdiomaLatino()" alt="bandera Argentina">
    </div>
  </div>
  <ion-grid>
    <div class="centrado" id="header">
      <ion-row>
        <!-- <ion-col size="3">
          <img id="tema" src="../../assets/images/temas.PNG" class="flag" routerLink="/seleccion-de-juego">
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/flageu.png" class=" flag" id="flagEu"
            (click)="seleccionarIdiomaIngles()" alt="bandera Estados Unidos">
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/flagbr.png" class=" flag" id="flagBr"
            (click)="seleccionarIdiomaPortugues(this)" alt="bandera Brazil">
        </ion-col>
        <ion-col size="3">
          <img src="../../assets/images/flauarg.png" class=" flag" id="flagArg"
            (click)="seleccionarIdiomaLatino()" alt="bandera Argentina">
        </ion-col> -->
      </ion-row>
    </div>
    <ion-row class="centrado">
      <ion-col size="4" size-sm="2" *ngFor="let animal of animales">
        <img src="../../assets/images/animales/{{animal}}.png" (click)="reproducirAudio(animal)" alt=""
          class="imagen-Icon animal-Icon">
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>