<ion-content>
<ion-header>
  <ion-toolbar>
    <ion-title>admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-button expand="block" routerLink="/">Home</ion-button>
<ion-card-content >
  <ion-card-title text-center>
    Zona de administradores
  </ion-card-title>
  <ion-grid items-center>
    <ion-row size="12" align-items-center>
      <ion-col size="6" offset="3">
        <ion-img src="../../assets/images/AdminZone.png" size="5"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-card-content>
</ion-content>
