<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-item-divider>
      <ion-label>
        Email
        <ion-input type="email" [(ngModel)]="user.email">
        </ion-input>
      </ion-label>
    </ion-item-divider>
    
    <ion-item-divider>
      <ion-label>
        Password
        <ion-input type="password" [(ngModel)]="user.password">
        </ion-input>
      </ion-label>
    </ion-item-divider>
  
  <ion-item>
    <ion-button size="large" (click)="OnRegister()" class="CustomButtons">Register</ion-button>
    <ion-button size="large" routerLink="/login"> Login</ion-button>
  </ion-item>
</ion-content>